/* document information 
- Document Liberty Golf
- version : 1.0.0
- Auteur : Jérémy
*/

/* Colors
- Défaut body text : #242424

-h1                  #000                   
-h2                  #000
-h3                  #000

-button


*/

/* FONTS
-Defaut : Raleway
-Title : Cinzel

*/

/* Css directory

1.=GLOBAL
2.=HEADER
3.=ACTUALITÉES
4.=FOOTER

*/

/* --------------------------------------------GLOBAL--------------------------------------------*/

html {
    background-color: #fff;
}

h1, h2, h3, h4{
    color:#000;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    
}

h3 {
    font-size: 20px;

}

h3:after {
    display: block;
    height: 2px;
    background-color: rgb(65, 60, 48);
    width: 50%;
    margin: 0 auto;
    content: " ";
    
}

h4 {
    font-size: 15px ;
}

p {
    color: #242424;
    font-family: 'Raleway', sans-serif ;
    text-align: center;
}


/* --------------------------------------------HEADER--------------------------------------------*/
#P1 {
    text-align: center;
    background-image: url(../Images/header.jpg);
    height: 100vh;
    background-size: cover;
    max-width: 100%;
    
}

.main-title h1 {
    letter-spacing: -15px;
    font-size: 70px;
    margin: 10%;
}

.main-title h1 span {
    letter-spacing: normal;
}

.main-title p {
    margin: -5%;
}

.main-title a {
    margin-top: 10%;
}
.main-title img {
    height: 90px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: -20px;
}
/* --------------------------------------------NAVBAR--------------------------------------------*/

.navbar {
    font-size: 20px;
    background-color: rgba(102,51,0, 0.7) !important;
    font-family: 'Raleway', sans-serif ;
    font-size: 25px;

}
.navbar a {
    color: rgb(0, 0, 0) !important;
}
.navbar-nav a:hover {
    color: #fff !important;
    transition: 1s !important;
}
.navbar-brand {
    font-size: 40px;
    letter-spacing: -7px;
    font-family: 'Cinzel', serif;
    border-right: 1px ridge #000;
}
.navbar-brand span {
    letter-spacing: normal;
    margin-right: 10px;
}
.navbar-brand img {
    height: 50px;
    position: relative;
}

/* --------------------------------------------BUTTON--------------------------------------------*/
.btn {
    
    font-size: 20px;
    border-radius: 10px;
    border-color: #000;
    
    
}
.btn:hover {
    background-color: rgba(0,0,0,0.4);
    border: rgba(0,0,0,0.4);
    font-size: 25px;
    transition: 0.2s;
}

.btn-header {

    
    font-family: 'Cinzel', serif;
    margin-top: 250px;
    
    
    }

    .btn-general {
        padding: 0 40px;
        border: 0;
        line-height: 2.5;
        text-shadow: 1px 1px 1px #242424;
        color: #fff;
        background-color: rgb(177, 2, 2);
        border-radius: 10px;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                    inset -2px -2px 3px rgba(0, 0, 0, .6);
        
    }
    
    .btn-general:hover {
        background-color: rgba(260, 0, 0,0.6);
    }
    
    .btn-general a {
        text-decoration: none;
        color: #fff;
    }
/* --------------------------------------------ACTUALITÉES--------------------------------------------*/

.actu { /*Revoir la notion de col md pour les affichages exemple voir site*/
    
    text-align: center;
    background-color: rgba(102, 51,0, 0.7);
    box-shadow: 0 0 10px rgba(0,0,0,10);
    
    margin: 50px 90px ;
}

/* --------------------------------------------FOOTER--------------------------------------------*/


footer {
    margin-top: 20px;
    height: 220px;
    background-image: url(../Images/footer.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    
}

.icons img {
    width: 50px;
    margin-left: 20%;
    display: inline-block;
}

.mention {
    text-align: end;
    margin-top: 50px;
    margin-right: 5px;
}

/* -------------------------------------------------------------------------------ONGLET QUISOMMESNOUS-------------------------------------------------------------------------------*/
                                            /* --------------------------------------------HEADER--------------------------------------------*/
#hd-qsn {
    background-image: url(../Images/headerp2.jpg);
    height: 50vh;
    background-position: center;
    
}

.pres-head {
    margin-top: 10%;
}
                                            /* --------------------------------------------PRESENTATION--------------------------------------------*/

.directrice-img img {
    
    display: block;
    width: 50%;
    margin:10px auto;
    border-radius: 100px ;
    max-width: 100%;
}

.pres-txt span {
    font-weight: bold;
    text-transform: uppercase;
}

/* -------------------------------------------------------------------------------ONGLET TARIFS-------------------------------------------------------------------------------*/

                                            /* --------------------------------------------HEADER--------------------------------------------*/
#hd-tarif {
    background-image: url(../Images/offres.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    
}

.hd-img {
    margin-top: 10%;
}

                                            /* --------------------------------------------GREENFEES--------------------------------------------*/
caption {
    font-size: 12px;
    text-align: center;
    font-style: italic;
    border-bottom: 5px solid #000;
    margin-bottom: 50px
    
}

table {

    text-align: center;
    
}

                                            /* --------------------------------------------FORMULES ENSEIGNEMENTS--------------------------------------------*/
.formule {
    /* Mettre plus d'espace entre les block formule? */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-right: 20px 50px;
    padding: 5px;

}
.formule-title {
    background-color: rgba(49, 66, 52, 0.582);
    border-bottom: 5px #242424 solid;
    border-radius: 20px;
    position: relative;
}

.formule-title span {
    font-size: 50%;
    position: absolute;
}
.formule h4 {
    font-size: 20px;
    margin-top: -20px;
}

ul{
    padding-top: 10px;
}
li {
    padding-bottom: 10px;
    list-style-type: none;
}
.formule-content ul li i {
    margin-right: 10px;
}
.formule-signup {
    
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
    
}

.formule-btn {
    color: #ff0000;
    border-radius: 10px;
    padding: 10px;
    /* mon border-color: #000 ne prend pas je ne sais pas pourquoi voir avec Adeline */
}

.formule-btn:hover {

    color: #fff;
    background-color: #242424;
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
    
}


/* -------------------------------------------------------------------------------ONGLET PROSHOP-------------------------------------------------------------------------------*/

/*sur sa propre feuille, je n'arrive pas à le switch sans tout casser*/

/* -------------------------------------------------------------------------------ONGLET CONTACT-------------------------------------------------------------------------------*/

#contact {

    
    background-image: url(../Images/contact.jpg);
    background-size: cover;
    background-position: bottom;
    height: 50vh;
    
}

.head-contact {
    margin-top: 160px ;
}

#formulaire-contact {
    
    margin: 20px 10px;
    padding: 40px 10px;
}

#title-contact-message {
    margin-top: 20px;
    
}


.contact-form {
    margin-top:40px;
    
}

.map {

    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;

}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-message {
    width: 100%;
}
