/* document information 
- Document Liberty Golf
- version : 1.0.0
- Auteur : Jérémy
*/

/* Colors
- Défaut body text : #242424

-h1                  #000                   
-h2                  #000
-h3                  #000

-button


*/

/* FONTS
-Defaut : Raleway
-Title : Cinzel

*/

/* Css directory

1.=GLOBAL
2.=HEADER
3.=ACTUALITÉES
4.=FOOTER

*/

/* --------------------------------------------GLOBAL--------------------------------------------*/

html {
    background-color: #fff;
}

h1, h2, h3, h4{
    color:#000;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    
}

h3 {
    font-size: 20px;

}

h3:after {
    display: block;
    height: 2px;
    background-color: rgb(65, 60, 48);
    width: 50%;
    margin: 0 auto;
    content: " ";
    
}

p {
    color: #242424;
    font-family: 'Raleway', sans-serif ;
}


/* --------------------------------------------HEADER--------------------------------------------*/
header {
    text-align: center;
    background-image: url(../Images/header.jpg);
    height: 100vh;
    background-size: cover;
    
}

.main-title h1 {
    letter-spacing: -15px;
    font-size: 70px;
    margin: 20%;
}

.main-title h1 span {
    letter-spacing: normal;
}

.main-title p {
    margin: -20%;
}

.main-title img {
    height: 90px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: -20px;
}
/* --------------------------------------------NAVBAR--------------------------------------------*/
.navbar {
    font-size: 20px;
    background-color: rgba(102,51,0, 0.7) !important;
    

}
.navbar a {
    color: rgb(0, 0, 0) !important;
}
.navbar-nav a:hover {
    color: #fff !important;
    transition: 1s !important;
}
.navbar-brand {
    font-size: 40px;
    letter-spacing: -7px;
    font-family: 'Cinzel', serif;
    border-right: 1px ridge #000;
}
.navbar-brand span {
    letter-spacing: normal;
    margin-right: 10px;
}
.navbar-brand img {
    height: 50px;
    position: relative;
}

/* --------------------------------------------BUTTON--------------------------------------------*/
.btn {
    
    font-size: 20px;
    border-radius: 10px;
    border-color: #000;
    
    
}
.btn:hover {
    background-color: rgba(0,0,0,0.4);
    border: rgba(0,0,0,0.4);
    font-size: 25px;
    transition: 0.2s;
}

.btn-header {
    font-family: 'Cinzel', serif;
    margin-top: 500px;
    
    }

/* --------------------------------------------ACTUALITÉES--------------------------------------------*/

.actu { /*Revoir la notion de col md pour les affichages exemple voir site*/
    
    text-align: center;
    background-color: rgba(102, 51,0, 0.7);
    box-shadow: 0 0 10px rgba(0,0,0,10);
    
    margin: 50px 90px ;
}

/* --------------------------------------------FOOTER--------------------------------------------*/


footer {
    height: 220px;
    background-image: url(../Images/footer.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    background-attachment: fixed;
    
}

.icons img {
    width: 50px;
    margin-left: 20%;
    display: inline-block;
}

.mention {
    text-align: end;
    margin-top: 50px;
    margin-right: 5px;
}